**/__pycache__/

compare_aligned_idx_copy.py
*.ipynb
quetzal/external/RANSAC_flow/model/pretrained/
# src/external/RANSAC_flow/model/pretrained/
weights/
tmp/
quetzal_app/temp/
gradio_test.py
gradio_UX.py

# Builds
**/*.egg-info/
**/build/
**/dist/

# dataset
**/data/
data.tar